body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal {
  width: 100%;
  height:100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(153, 153, 153, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  width: 60%;
  height: 60%;
  border-radius: 20px;
  
  
}

.close {
  background-color: transparent;
  outline: none;
  width: 32px;
  height: 32px;
  right: calc(-100% + 64px);
  font-weight: 600;
  cursor: pointer;
  top: 16px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 25px;
  color: rgb(77, 77, 77);

}
.title {
  text-align: left;
  padding-left: 40px;
}

.table, td, th{
  max-width: 100%;
  border: 1px solid rgb(75, 75, 75);
  border-collapse: collapse;
    
}
th {
  background-color: rgb(95, 95, 95);
  padding: 5px;
  color:white;
}
td {
  padding: 5px;
}
.content {
  margin-left: 40px;
  
}
tr:nth-child(even){
  background-color: rgb(202, 202, 202);
}